# mysql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DB_PROVIDER=mysql
DB_USERNAME=root
DB_PASSWORD=1234
DB_HOST=db
DB_PORT=3306
DB_NAME=invoice
DATABASE_URL=${DB_PROVIDER}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?connect_timeout=300
